* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    padding: 0 10px;
}

.bgimage {
    background-image: url("home 1.png");
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.menu {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.leftmenu {
    width: 30%;
    line-height: 100px;
}

.leftmenu h4 {
    padding-left: 20px;
    font-weight: bold;
    color: black;
    font-size: 22px;
}

.rightmenu {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.rightmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.rightmenu ul li {
    margin-left: 20px;
}

.rightmenu ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.rightmenu ul li a:hover {
    color: orange;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: yellow;
}

.text h4 {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}

.text h1 {
    font-size: 36px; /* Set title (h1) font size in pixels */
    font-family: 'Montserrat', sans-serif; /* Ensure consistent font family */
    font-weight: bold; /* Adjust font weight if needed */
}

.content {
    background-color: #fff;
    padding: 20px;
    margin-top: 150px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.content h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.content table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.content th, .content td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.content th {
    background-color: #f2f2f2;
}

@media only screen and (max-width: 768px) {
    .leftmenu, .rightmenu {
        width: 50%;
    }

    .text {
        width: 80%;
        font-size: 14px;
    }

    .content {
        padding: 10px;
    }

    .content h2 {
        font-size: 24px;
    }

    .content th, .content td {
        padding: 8px;
    }
}
